<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%t] %-5level - %msg%n%throwable"/>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="ConsoleAppender"/>
		</Root>
		<Logger name="io.netty" level="WARN" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
	</Loggers>
</Configuration>